<%- include('../partials/header.ejs') %>

<div class="wrapper-dashboard">
    <%- include('../partials/nav-admin.ejs') %>
    <div class="main">
        <%- include('../partials/x-admin.ejs') %>

        <main  class="content px-3 py-2">
            <!-- <div class="container-fluid"></div> -->
            
            
        </main>
    </div>
</div>



<%- include('../partials/footer.ejs') %>